footer {
    padding: 15px;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 970px;
}

.evacuation-info, .sanctuary-list, .button-list {
    border: 2px solid gray;
    margin: 10px 0;
}

.sanctuary-list {
    min-height: 172px;
}

.sanctuary-list > div:nth-child(even) {
    background: #f7f7f9;
}

.sanctuary {
    padding: 10px;
    position: relative;
}

.cancel-button {
    background: #FF686B;
    color: #FFF;
    padding: 3px 5px;
    position: absolute;
    right: 4px;
    top: 2px;
}

.cancel-button:hover {
    cursor: pointer;
    opacity: .7;
}

.click-button {
    background: gray !important;
    color: white;
    font-size: 28px;
    padding: 66px;
    text-align: center;
}

.click-button.update-sanctuary {
    background: #84DCC6 !important;
    content:"";
}

.click-button.delete-sanctuary {
    background: #FF686B !important;
    content:"";
}

.click-button:hover {
    cursor: pointer;
    opacity: .7;
}

.click-button.add-sanctuary:hover:before {
    content:"＋";
}

.click-button.update-sanctuary:hover {
    content:"";
}

.click-button.delete-sanctuary:hover {
    content:"";
}

.click-button-disable, .click-button-disable:hover {
    cursor: not-allowed;
    opacity: .3;
}

[class^=avatar] {
    background-color: #FFF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-male {
    background-image: url("/icon/male.png");
}

.avatar-female {
    background-image: url("/icon/female.png");
}

.shelter-enough {
    color: #84DCC6;
}

.shelter-not-enougn {
    color: #FF686B;
}
